<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - AnnOtaria</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--<script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
    <script src="{{ url_for('static', filename='respond.min.js') }}"></script>-->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">-->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jats.css') }}">
</head>
<body>

<!-- "Fork me on GitHub" ribbon -->
<a href="https://github.com/ciromattia/annotaria"><img id="fork_me_on_github"
                                                       class="sr-only"
                                                       src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                                                       alt="Fork me on GitHub"
                                                       data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://github.com/ciromattia/annotaria" target="_blank" title="Project homepage on GitHub">
                <img class="logo" src="{{ url_for('static', filename='annotaria-small.png') }}">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href role="button" data-toggle="modal" data-target="#about">About</a></li>
                <li><a href id="temp_annot_button" class="btn" role="button" data-toggle="modal"
                       data-target="#temp_annot">Unsaved
                    annotations</a></li>
                <li><a href id="create_ranged_annot_button" class="btn btn-primary" role="button" data-toggle="modal"
                       data-target="#doc_annot">Create annotation</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="side-navigation" data-spy="affix">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#articleListPanel">
                                    Available documents</a>
                            </h4>
                        </div>
                        <div id="articleListPanel" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav-list aside-nav articlelist" id="articlelist"></ul>
                            </div>
                        </div>
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#annotationListPanel">
                                    Document metadata</a>
                            </h4>
                        </div>
                        <div id="annotationListPanel" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav-list aside-nav" id="annotationlist"></ul>
                                <p><a href role="button" id="add_annotation_doc" data-toggle="modal"
                                      data-target="#doc_annot">
                                    <small><i class="fa fa-plus"></i> add a global annotation...</small>
                                </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <ul id="tabs" class="nav nav-tabs">
                <li class="active"><a href="#tab_welcome" data-toggle="tab">Welcome</a></li>
            </ul>

            <div id="current_article" class="tab-content">
                <div class="tab-pane active" id="tab_welcome">
                    <div class="page-header">
                        <h1>Welcome to AnnOtaria!</h1>
                    </div>
                    <p><strong>AnnOtaria</strong> is a web application that allow users to manage annotations over a set
                        of scientific articles.</p>

                    <p>You can find the article list <em>in the left sidebar</em>, clicling over one of them will load
                        its content in the main area (this) and enables viewing and editing annotations.
                    </p>

                    <p>In order to create, edit and delete annotations you should login: look at the navbar, on the
                        right.</p>

                    <p>Most of all, have fun!</p>
                </div>
            </div>
            <div id="#origs"></div>
        </div>
    </div>
</div>
<div id="notify" class="flyover flyover-bottom">
    <div id="noti">
    </div>
</div>
<footer id="footer">
    <div class="container">
        <p class="pull-right text-muted"><a href="#" title="back-to-top">Back to top</a></p>

        <p class="text-muted">Proudly powered by: Kappa group
        </p>
    </div>
</footer>

<div id="about" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="About AnnOtaria" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About AnnOtaria</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-4">
                    <img class="img-responsive img-rounded" src="{{ url_for('static', filename='annotaria.png') }}">
                </div>
                <div class="col-md-8">
                    <p>AnnOtaria v.0.2 "Eumetopias"</p>

                    <p>© 2014 Ciro Mattia Gonano - Alessandro Galiano - Pasquale Corbo - Pedro Madrigal</p>

                    <p>This software is released under
                        <a href="http://opensource.org/licenses/ISC" title="ISC license">ISC license</a>.<br>
                        You can find the latest version of this software
                        <a href="https://github.com/ciromattia/annotaria">on <i class="fa fa-github"></i> GitHub</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="doc_annot" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Add document metadata"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">annotation</h4>
            </div>
            <div class="modal-body">
                <form class="annotation doc_annot" role="form">
                    <div class="form-group">
                        <select class="form-control" id="doc_annot_type" onchange="doc_annot_form_onselect(this)">
                        </select>
                    </div>
                    <div class="form-group row" id="widget_instance">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <select multiple class="form-control" id="widget_instance_selector">
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <fieldset id="widget_instance_new_entry">
                                <input id="widget_instance_new_id" type="text" class="form-control" placeholder="Id" maxlength="80">
                                <input id="widget_instance_new_name" type="text" class="form-control" placeholder="Name" maxlength="80">
                                <input id="widget_instance_new_email" type="email" class="form-control" placeholder="Email" maxlength="80">
                                <button type="button" class="btn btn-primary pull-right" id="widget_instance_new_save" onclick="save_author()"><i
                        class="fa fa-check"></i> Create new</button>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group" id="widget_date">
                        <input id="widget_date_input" size="16" type="date" placeholder="2014"
                                maxlength="4" class="form-control">
                    </div>
                    <div class="form-group" id="widget_choice">
                        <select id="widget_choice_input">
                            <option value="very poor">very poor</option>
                            <option value="poor">poor</option>
                            <option value="fair">fair</option>
                            <option value="good">good</option>
                            <option value="excellent">excellent</option>
                        </select>
                    </div>
                    <div class="form-group" id="widget_shorttext">
                        <input id="widget_shorttext_input" type="text" class="form-control" placeholder="Text input"
                               maxlength="80">
                    </div>
                    <div class="form-group" id="widget_longtext">
                        <textarea id="widget_longtext_input" class="form-control" rows="4"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                </button>
                <button type="button" class="btn btn-primary" id="doc_annot_save" onclick="save_annotation()"><i
                        class="fa fa-check"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>

<div id="temp_annot" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Unsaved annotations"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Unsaved annotations</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Annotation</th>
                            <th>Value</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="temp_annot_rows"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close
                </button>
                <button type="button" class="temp_annot_action btn btn-danger" onclick="discard_annotations()"><i
                        class="fa fa-times"></i> Discard
                    all annotations
                </button>
                <button type="button" class="temp_annot_action btn btn-primary" onclick="store_annotations()"><i
                        class="fa fa-check"></i> Send to triplestore
                </button>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<!--<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>-->

<script src="{{ url_for('static', filename='annotaria.js') }}"></script>

</body>
</html>
