<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home - AnnOtaria</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//assets.annotateit.org/annotator/v1.2.7/annotator.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<!-- "Fork me on GitHub" ribbon -->
<a href="https://github.com/ciromattia/annotaria"><img id="fork_me_on_github"
                                                       class="sr-only"
                                                       src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                                                       alt="Fork me on GitHub"
                                                       data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://github.com/ciromattia/annotaria">
                <img class="logo" src="{{ url_for('static', filename='annotaria-small.png') }}">
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href role="button" data-toggle="modal" data-target="#about">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!-- Begin page content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a class="btn toc-toggle visible-xs" ng-click="notoc=!notoc">Show / Hide available documents</a>

            <div class="side-navigation" ng-show="notoc!=true" ng-controller="ArticleListCtrl">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Available documents:</h4>
                    </div>
                    <ul class="panel-body">
                        <li class="nav-list aside-nav articlelist" id="articlelist"></li>
                    </ul>
                </div>
            </div>
            <a href ng-click="notoc=true" class="toc-close visible-xs">Close</a>
        </div>
        <div class="col-md-9">
            <article>
                <ul id="tabs" class="nav nav-tabs">
                </ul>
                <div id="current_article" class="tab-content">
                    <div class="page-header">
                        <h1>Welcome to AnnOtaria!</h1>
                    </div>
                    <p><strong>AnnOtaria</strong> is a web application that allow users to manage annotations over a set
                        of scientific articles.</p>

                    <p>You can find the article list <em>in the left sidebar</em>, clicling over one of them will load
                        its content in the main area (this) and enables viewing and editing annotations.
                    </p>

                    <p>In order to create, edit and delete annotations you should login: look at the navbar, on the
                        right.</p>

                    <p>Most of all, have fun!</p>
                </div>
            </article>
        </div>
    </div>
</div>
<div id="notify" class="flyover flyover-bottom">
    <div id="noti">
    </div>
</div>
<footer id="footer">
    <div class="container">
        <p class="pull-right text-muted"><a back-to-top>Back to top</a></p>

        <p class="text-muted">Proudly powered by: Annotaria Group. "AlmaMater"
        </p>
    </div>
</footer>

<div id="about" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="About AnnOtaria" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About AnnOtaria</h4>
            </div>
            <div class="modal-body row">
                <div class="col-md-4">
                    <img class="img-responsive img-rounded" src="{{ url_for('static', filename='annotaria.png') }}">
                </div>
                <div class="col-md-8">
                    <p>AnnOtaria v.0.2 "Eumetopias"</p>

                    <p>© 2014 Ciro Mattia Gonano - Alessandro Galiano - Pasquale Corbo - Pedro Madrigal</p>

                    <p>This software is released under
                        <a href="http://opensource.org/licenses/ISC" title="ISC license">ISC license</a>.<br>
                        You can find the latest version of this software
                        <a href="https://github.com/ciromattia/annotaria">on <i class="fa fa-github"></i> GitHub</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//assets.annotateit.org/annotator/v1.2.7/annotator-full.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='annotaria.js') }}"></script>

</body>
</html>
