html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#fork_me_on_github {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    z-index: 5000;
}

.affix {
  position: static;
  width: auto;
  top: 0;
}

a.annotaria_fragment {
    color: #333333;
}
a.annotaria_fragment :hover {
    color: #555555;
}
.hasComment {
    background-color: #00ffdf;
}
.denotesPerson {
    background-color: #ffff00;
}
.denotesPlace {
    background-color: #ffff66;
}
.denotesDisease {
    background-color: #ffff99;
}
.hasSubject {
    background-color: #ffffcc;
}
.relatesTo {
    background-color: #ccffff;
}
.hasClarityScore {
    background-color: #66ffff;
}
.hasOriginalityScore {
    background-color: #00ffff;
}
.hasFormattingScore {
    background-color: #ccffcc;
}
.cites {
    background-color: #99ffcc;
}