<a class="btn toc-toggle visible-xs" ng-click="toc=!toc">Show / Hide available documents</a>
<div class="side-navigation" ng-show="toc==true" ng-controller="AppotariaArticleListCtrl">
	<h3>Available documents</h3>
	Filter by: <input ng-model="articlequery">
	<ul class="nav-list aside-nav articlelist">
		<li ng-repeat="item in articlelist | filter:articlequery" class="nav-index-listing">
			<small><a href="#/annotaria-td/{{item.href}}">{{item.title}}</a></small>
		</li>
	</ul>
	<a href="" ng-click="toc=false" class="toc-close visible-xs">Close</a>
</div>